<a href="https://colab.research.google.com/github/Lalalmada/Otimizacao_de_hiperparametros_em_Machine_Learning/blob/main/Estudo_juniors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.datasets import fetch_openml
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import datasets

In [4]:
import pandas as pd  
  
# assign data of lists.  
data = {'data_admissao': ['2018-01-01', '2019-06-01'],'cargo':['estag','junior'],'Nome': ['a', 'a'], }  
  
# Create DataFrame  
base = pd.DataFrame(data)  
  
# Print the output.  
print(base)

  data_admissao   cargo Nome
0    2018-01-01   estag    a
1    2019-06-01  junior    a

In [9]:
base_estag=base.loc[base['cargo']=='estag']
base_junior=base.loc[base['cargo']=='junior']

In [10]:
base_estag

  data_admissao  cargo Nome
0    2018-01-01  estag    a

In [12]:
base_estag.rename(columns={'data_admissao':'data_admissao_estag'},inplace =True)
base_junior.rename(columns={'data_admissao':'data_admissao_junior'},inplace =True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
base_estag

  data_admissao_estag  cargo Nome
0          2018-01-01  estag    a

In [14]:
base_nova=pd.merge(base,base_estag[['Nome','data_admissao_estag']],on='Nome', how='left')

In [15]:
base_nova

  data_admissao   cargo Nome data_admissao_estag
0    2018-01-01   estag    a          2018-01-01
1    2019-06-01  junior    a          2018-01-01

In [16]:
base_nova_2=pd.merge(base_nova,base_junior[['Nome','data_admissao_junior']],on='Nome', how='left')

In [17]:
base_nova_2

  data_admissao   cargo Nome data_admissao_estag data_admissao_junior
0    2018-01-01   estag    a          2018-01-01           2019-06-01
1    2019-06-01  junior    a          2018-01-01           2019-06-01

In [6]:
def coluna_data_admissao_junior(coluna_admissao,coluna_cargo):
  # 

   for i in base[coluna_cargo]:
     for j in base[coluna_admissao]:
        if i == 'junior':
          return j

        else:
          return 0

In [8]:
coluna_data_admissao_junior('data_admissao','cargo')

0

In [7]:
base['data_admissao_junior']=base.apply(coluna_data_admissao_junior('data_admissao','cargo'))

AssertionError: ignored